body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0C2B4E;
}

header{
    text-align: center;
}

span{
    background-color: #1D546C;
    color: white;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;
}

